<div class="row">
  <div class="col-md-6">
    <div class="card card-blog" data-header="pattern">
      <a href="how-to-write-a-scientific-paper">
      <img class="card-image-top" src="../assets/img/pages/vital-science-communication.jpg"></a>
        <div class="card-body">
          <h6 class="card-category text-default">March 4, 2021</h6>
          <h5 class="card-title">
            <a href="how-to-write-a-scientific-paper">Video: How to write a scientific paper</a>
          </h5>
          <p class="card-description">
            An academic talk about the various aspects of manuscript writing: from keeping an audience-centric mindset to telling a compelling story.
          </p>
        </div>
    </div>

    <div class="card card-blog" data-header="pattern">
      <a href="bad-science-biases-big-data">
      <img class="card-image-top" src="../assets/img/pages/big-data-spurious-corr.png"></a>
        <div class="card-body">
          <h6 class="card-category text-default">April 24, 2018</h6>
          <h5 class="card-title">
            <a href="bad-science-biases-big-data">Bad Science, Biases, and Big Data: The Shifting Landscape of Responsible Conduct of Research</a>
          </h5>
          <p class="card-description">
            Scientific research is sometimes non-reproducible, but this fact does not always point to misconduct or deceit. On the contrary, our tendency toward confirmation bias and unintended practice of researcher "degrees of freedom" are commonplace; and so too is the likelihood of plucking out spurious correlations in the age of Big Data. We must therefore take great care to not mislead ourselves.
          </p>
        </div>
    </div>

    <div class="card card-blog" data-header="pattern">
      <a href="when-i-heard-the-learnd-astronomer">
      <img class="card-image-top" src="../assets/img/pages/looking-at-stars.jpg"></a>
        <div class="card-body">
          <h6 class="card-category text-default">January 30, 2015</h6>
          <h5 class="card-title">
            <a href="when-i-heard-the-learnd-astronomer">When I Heard the Learnd Astronomer</a>
          </h5>
          <p class="card-description">
            This classic poem by Walt Whitman recounts his shifting attention away from the data presented during an astronomy lecture, to boredom. Whitman invokes the imagery of a bird as he "rises and glides out" into the night to experience the beauty of the stars firsthand. This poem reminds me to step back on occassion from the bench or the terminal, and appreciate the elegant evolutionary processes that have shaped the complexity and diversity of life.
          </p>
        </div>
    </div>

    <div class="card card-blog" data-header="pattern">
      <a href="watchmaker-argument">
      <img class="card-image-top" src="../assets/img/pages/stopwatch.jpg"></a>
        <div class="card-body">
          <h6 class="card-category text-default">April 15, 2014</h6>
          <h5 class="card-title">
            <a href="maybe-all-this">The Watchmaker Argument</a>
          </h5>
          <p class="card-description">
            I discuss William Paley’s Watchmaker Argument for the existence of an intelligent designer, and explain why it is rife with cognitive biases and logical fallacies.
          </p>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-blog" data-header="pattern">
      <a href="research-talk">
      <img class="card-image-top" src="../assets/img/pages/selection-plates.jpg"></a>
        <div class="card-body">
          <h6 class="card-category text-default">December 15, 2020</h6>
          <h5 class="card-title">
            <a href="research-talk">Video: The effects of genetic background on the evolution of antibiotic resistance</a>
          </h5>
          <p class="card-description">
            A research talk about my dissertation research in Dr. Richard Lenski's lab at Michigan State University.
          </p>
        </div>
    </div>

    <div class="card card-blog" data-header="pattern">
      <a href="inclusivity-for-aspiring-disabled-scientists">
      <img class="card-image-top" src="../assets/img/pages/diversity.png"></a>
        <div class="card-body">
          <h6 class="card-category text-default">August 15, 2015</h6>
          <h5 class="card-title">
            <a href="inclusivity-for-aspiring-disabled-scientists">Inclusivity for Aspiring Disabled Scientists</a>
          </h5>
          <p class="card-description">
            I have Moebius Syndrome, which is a rare neurological condition that causes functional restriction of facial movement. I also have Hanhart syndrome which causes underdeveloped limbs and tongue. In this blog post, I share my perspectives, experiences, and apprehensions as a disabled individual pursuing a research career. I argue that institutions must do more to provide support for disabled individuals.
          </p>
        </div>
    </div>

    <div class="card card-blog" data-header="pattern">
      <a href="what-is-evolution">
      <img class="card-image-top" src="../assets/img/pages/evolution.png"></a>
        <div class="card-body">
          <h6 class="card-category text-default">
            January 30, 2015
          </h6>
          <h5 class="card-title">
            <a href="what-is-evolution">What is Evolution?</a>
          </h5>
          <p class="card-description">
            In this blog post I hope to explain, in a very general sense, what the theory of evolution is and then give an example that I feel will be accessible to those who are unfamiliar with biology.
          </p>
        </div>
    </div>
  
    <div class="card card-blog" data-header="pattern">
      <a href="maybe-all-this">
      <img class="card-image-top" src="../assets/img/pages/test-tubes.jpg"></a>
        <div class="card-body">
          <h6 class="card-category text-default">
            April 9, 2014
          </h6>
          <h5 class="card-title">
            <a href="maybe-all-this">Maybe All This</a>
          </h5>
          <p class="card-description">
            A poem written by the Polish poet and Nobel Laureate Wisława Szymborska-Włodek. It invokes the sentiment that we – like the little organisms in our petri dishes and flasks – are an experiment of sorts: either unguided like evolution with its tension between repeatability and contingency; or acted upon by experimenters who are enraptured by both the monumental and the mundane.
          </p>
        </div>
    </div>
  </div>
</div>