<div class="contactus-3 fullWidth">
    <div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/blog-header.png' | relative_url }}" alt="">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-lg shadow text-white">
            <i class="ni ni-square-pin"></i>
          </div>
          <h4 class="info-title">Address</h4>
          <p class="description px-0">Cleveland Clinic Lerner Research Institute</p>
          <p class="description px-0">Department of Translational Hematology and Oncology Research</p>
          <p class="description px-0">2111 E. 96th Street NE6, Cleveland, OH 44106</p> 
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-lg shadow rounded-circle text-white">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title">Email</h4>
          <p class="description px-0">cardkyle1@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>