<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h3 class="display-3">Experience</h3>
          <h4 class="display-5 text-gray">
            <a href="https://drive.google.com/file/d/1ICrh-7lJv9rmnkejKHVsfZb9Y7_jTG5c/view?usp=sharing" class="text-gray-400">
              (See CV for complete list)
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">Graduate Curriculum Redesign Committee</h6>
            <h6 class="info-title text-white">October 2019 – July 2020</h6>
            <p class="description opacity-8">I participated in the strategic planning process for the Microbiology & Molecular Genetics Department at Michigan State University, particularly as it pertained to curriculum redesign. 
              The members of the committee and I advocated for a shift away from a curriculum that focused on teaching facts to one that teaches critical thinking; the nature, practice, and philosophy of science;
              and epistemological thinking. We met with department leaders and discussed introducing a new course – modelled after the R3 Initiative at Johns Hopkins – that focuses on each of these aspects.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">Diversity, Equity, and Inclusion Task Force</h6>
            <h6 class="info-title text-white">September 2019 – October 2020</h6>
            <p class="description opacity-8">I was a member of a blue-ribbon Task Force with the charge to elevate and embody inclusive diversity with equity within the American Society for Microbiology. 
              To this end, we comprehensively reviewed current policies and procedures to identify deficiencies within the Society that hinder DEI efforts; contracted and worked with a third-party DEI consultant – the Kaleidoscope Group – 
              to develop a Member Perception Survey; and advanced guiding principles and vision statements to direct future work and activities, along with codifying benchmarks for success. We reported our findings and recommendations 
              in a report that was presented to the Board of Directors.</p>
            <a href="https://asm.org/Reports/Diversity,-Equity-and-Inclusion-Taskforce-Report" class="text-gray-400">Learn more
              <i class="ni ni-bold-right text-gray-400"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">Intern at the Michigan Department of Health & Human Services (MDHHS)</h6>
            <h6 class="info-title text-white">September 2018 – January 2019</h6>
            <p class="description opacity-8">A motivating goal of mine is to include the evolvability assays that I developed during my dissertation studies with standard antibiotic resistance surveillance methods to generate better 
              predictive models about the spread of antibiotic resistance over time. As a first step to realizing this goal, I interned at the MDHHS to examine the feasibility of combining these two approaches. 
              At the MDHHS, I quantified the evolvability of resistance in <i>Pseudomonas aeruginosa</i> clinical isolates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
