<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h3 class="display-3">Fellowships, Awards, & Grants</h3>
          <h4 class="display-5 text-gray">
            <a href="https://github.com/KyleCard/card-academic-site/blob/master/CV.pdf" class="text-gray-400">
              (See CV for complete list)
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">HHMI Hanna H. Gray Fellowship</h6>
            <h6 class="info-title text-white">June 2021</h6>
            <p class="description opacity-8">Postdoc-to-faculty transition award totalling $1.4 million over 8 years. 
              "The Hanna H. Gray Fellows Program represents HHMI’s commitment to supporting talented early career scientists who have the potential to become leaders in academic research.
              By selecting individuals from groups underrepresented in the life sciences, HHMI seeks to increase diversity among academic faculty. 
              Fellows’ successful careers will inspire future generations of scientists from the United States’ diverse talent pool." </p>
            <a href="https://www.hhmi.org/news/hhmi-commits-30-million-to-increase-diversity-in-science-with-21-hanna-gray-fellows" class="text-gray-400">Learn more
              <i class="ni ni-bold-right text-gray-400"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">NIH Diversity Supplement Grant</h6>
            <h6 class="info-title text-white">July 2020 – May 2021</h6>
            <p class="description opacity-8">Award to enhance the diversity of the research workforce by recruiting and supporting students, postdoctorates, and eligible investigators from diverse backgrounds, including those from groups that have been shown to be underrepresented in health-related research.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <h6 class="info-title text-uppercase text-white">HHMI Gilliam Fellowship for Advanced Study</h6>
            <h6 class="info-title text-white">September 2017 – August 2020</h6>
            <p class="description opacity-8">PhD fellowship totalling $138,000 over 3 years. The goals of the Gilliam program are to ensure that students from groups historically excluded from and underrepresented in science are prepared to assume leadership roles in science and science education, and to foster the development of a healthier, more inclusive academic scientific ecosystem by partnering with faculty and institutions committed to advancing diversity and inclusion in the sciences.</p>
            <a href="https://www.hhmi.org/news/hhmi-awards-39-gilliam-fellowships-support-diversity-science" class="text-gray-400">Learn more
              <i class="ni ni-bold-right text-gray-400"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
