<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">News</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card card-blog card-plain blog-horizontal mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card-image shadow">
                        <img class="img rounded" src="assets/img/pages/UPitt-visit.jpg">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                        <h5 class="card-title">
                            Visit to the University of Pittsburgh
                        </h5>
                        <h6 class="info-title text-white">March 16, 2022</h6>
                        <p class="card-description">
                            I was graciously invited by Elizabeth Rudzki and Dr. Kevin Kohl to the University of Pittsburgh to give a seminar talk to the Ecology and Evolution graduate program 
                            and the Center for Evolutionary Biology and Medicine! I spoke about my graduate and postdoc work, and met with faculty and graduate students to learn about their research.
                            Pittsburgh is also a beautiful city and I was captivated by its many hills.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card card-blog card-plain blog-horizontal mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card-image shadow">
                        <a href="https://asm.org/Articles/2021/December/Traversing-STEM-With-Disabilities-Spotlight-on-Kyl">
                            <img class="img rounded" src="https://asm.org/ASM/media/Article-Images/2021/December/Card_embed_1.jpg?ext=.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                        <h5 class="card-title">
                            <a href="https://asm.org/Articles/2021/December/Traversing-STEM-With-Disabilities-Spotlight-on-Kyl">Traversing STEM With Disabilities: Spotlight on Kyle Card</a>
                        </h5>
                        <h6 class="info-title text-white">December 2, 2021</h6>
                        <p class="card-description">
                            My identity as a disabled person is a source of great strength and pride for me. In honor of the 2021 International Day of Persons with Disabilities,
                            Ashley Hagen and the American Society for Microbiology (ASM) featured me in this Spotlight article. I share my story and recount my experiences about traversing academia 
                            with disabilities.</p>
                        <a href="https://asm.org/Articles/2021/December/Traversing-STEM-With-Disabilities-Spotlight-on-Kyl"> Read More 
                            <i class="ni ni-bold-right text-gray-400"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card card-blog card-plain blog-horizontal mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card-image shadow">
                        <img class="img rounded" src="assets/img/people/graduation.png">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                        <h5 class="card-title">
                            Graduated!
                        </h5>
                        <h6 class="info-title text-white">September 17, 2021</h6>
                        <p class="card-description">
                            I defended my dissertation and earned my PhD during the summer of 2020. However, our graduation ceremony was postponed because of the COVID-19 pandemic. I returned to
                            Michigan State University for the ceremony and was hooded by my thesis advisor, Dr. Richard Lenski. It was wonderful to see my colleagues and friends again as we walked across
                            the stage together!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card card-blog card-plain blog-horizontal mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card-image shadow">
                        <a href="https://sites.duke.edu/clubevmed/2021/04/29/postdoc-spotlight/">
                        <img class="img rounded" src="assets/img/club_evmed.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                        <h5 class="card-title">
                            <a href="https://sites.duke.edu/clubevmed/2021/04/29/postdoc-spotlight/">Club Evolutionary Medicine (EvMed) Talk</a>
                        </h5>
                        <h6 class="info-title text-white">April 29, 2021</h6>
                        <p class="card-description">
                            I was selected to give a talk to Club EvMed about our work examining the individual and combined effects of population size, mutation rate, and genetic background on evolvability.</p>
                        <a href="https://sites.duke.edu/clubevmed/2021/04/29/postdoc-spotlight/"> Read More </a> and <a href="https://duke.zoom.us/rec/play/DnU2Nalibvo26sKXRcnQdde2DqjuQZ0tPN7YCoY-qD4SnUASC50SBQnrxNf8cSomu-2cHjn3TKpVVE9h.QllDpKyOThTjgkPK?continueMode=true&_x_zm_rtaid=7TFCdgPLStS7kwgNGV9bvQ.1639258347708.380d55bca44a880c806e5a03ecdb5912&_x_zm_rhtaid=428"> Watch Presentation 
                            <i class="ni ni-bold-right text-gray-400"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card card-blog card-plain blog-horizontal mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card-image shadow">
                        <a href="https://www.hhmi.org/news/hhmi-commits-30-million-to-increase-diversity-in-science-with-21-hanna-gray-fellows">
                        <img class="img rounded" src="assets/img/HGF.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                        <h5 class="card-title">
                            <a href="https://www.hhmi.org/news/hhmi-commits-30-million-to-increase-diversity-in-science-with-21-hanna-gray-fellows">HHMI Commits $30 Million to Increase Diversity in Science with 21 Hanna Gray Fellows</a>
                        </h5>
                        <h6 class="info-title text-white">February 18, 2021</h6>
                        <p class="card-description">
                            HHMI announces the selection of 21 exceptional early career scientists as 2020 Hanna Gray Fellows to support diversity in biomedical research. The 2022 Hanna H. Gray Fellows Program competition will open later this year.</p>
                        <a href="https://www.hhmi.org/news/hhmi-commits-30-million-to-increase-diversity-in-science-with-21-hanna-gray-fellows"> Read More
                            <i class="ni ni-bold-right text-gray-400"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>