// Custom Variables

$scholar:               #3b5998 !default;
$scholar-states:        darken($scholar, 5%) !default;

$grey-color:            #acacacff !default;

$spacing-unit:          25px;

$custom-headings-color: #efe8dc